body {
  background-image: url("img/egypt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
}
.counter {
  color: white;
  display:flex;  
  justify-content: center;
  background-color: black;
  text-align: center;
  flex-wrap: wrap;
}
.big-text{
  margin: 0 3rem;
  font-size: 5rem;
}